@media  screen  and (width<=1000px) {
  .small{
     font-size: 15px;
  }
  .big{
    font-size:1.6rem;

  }

  /*--------Navigation section------*/
  #navigation-area{
    display: none;
   }
   #search-area {
   display: none;
  }
  /*--------About section------*/
  #about{
    height: 175vh;
  }
  .about-1{
    height: 45vh;
    width: 95vw;
  }
    /*--------services section------*/
  
  #services{
    height: 300vh;
  }
  
 .item:nth-child(1),.item:nth-child(3){
   width: 49vw;
 }
 .item:nth-child(2) {
  width: 45vw;
}
.item:nth-child(7){
  grid-row: span 2;
  width: 45vw;
}
.item:nth-child(4),.item:nth-child(7){
  display:none;
}

.item:nth-child(10){
 grid-row: span 1;
}
/*------------form section----------*/
#form-main{
  height: 100px;
}

}
@media  screen  and (width<=821px) {

  body{
    background-color: rgb(222, 213, 207);
  }
  .small{
    font-size: 12px;
 }
 .big{
   font-size:1.4rem;

 }

#Main-img img{
  height: 250px;
  width: 250px;
}


 #services{
  height: 270vh;
  width: 100%;
}

  .item:nth-child(5){
    display:none;
  }  

}
@media  screen  and (width<=650px) {
  /* Services section */
  #services{
    height: 360vh;
    width: 100%;
  }
  .services-main {
    display: block;
    height: 450vh;
  }
  .item{
    display: block;
    margin: 20px 0px;
    height: 50vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:nth-child(2),.item:nth-child(1),.item:nth-child(3){
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
    width: 99vw;
  }
}



@media  screen  and (width<=500px){
  /* Home  */
  .small{
    font-size: 12px;
  }
  #home{
    height: 125vh;
    width: 130%;
    flex-direction: column-reverse;
  }
  #home-para{
    height: 50vh;
    width: 80vw;
  }
  #Main-img img {
    margin: 20px;
    width: 130px;
    height: 130px;
  }
  
  /* About  */
  #about{
    height: 300vh;
    width: 130%;
  }
  .about-1{
    flex-direction: column-reverse;
    height: 81vh;
    align-items: center;
    justify-content: center;
  }
  .about-1:nth-child(3){
    flex-direction: column;
  }
  /* Services  */
  #services-main-main{
   width: 130%;
   height: 10vh;

   background-color: black;
   
  }
   /* services section */
  #services{
    width: 130%;
    height: 353vh;
  }
  .services-main{
    height: 270vh;
  }
  .item{
    display: block;
    margin: 20px auto;
    height: 50vh;
    width: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89%;
  }
  .item:nth-child(4),.item:nth-child(5),.item:nth-child(6),.item:nth-child(1),.item:nth-child(2),.item:nth-child(3),.item:nth-child(7){
    width: 89%;
    
  }
  .item:nth-child(8),.item:nth-child(9){
    width: 89%;

  }
  /* Form section  */
  #form-main{
   width: 130%;
   height: 10vh;
  }
  #form{
    width: 130%;
  }

  /* clients section  */
  #clients-main{
    height: 10vh;

    width: 130%;
  }
  #client-section{
    width: 130%;
  }
  .client-links{
    font-size: 7px;
  }
  .main-clients{
    font-size: 1rem;
  }
}

